body {
  margin: 0;
  display: initial;
}

h2 {
  position: absolute;
  margin-left: 0.83rem;
  color: #ecf0f1;
}

.container {
  width: 100%;
  height: 100%;
}

.fullscreen {
  width: 100%;
  height: 95%;
}

#main-canvas {
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
}

.router-container {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
}
.tray {
  width: 100%;
  height: 50px;
  position: relative;
  overflow-x: hidden;
}
.tray__slide {
  position: absolute;
  display: flex;
  left: 0;
  /*   transform: translateX(-50%);
    animation: wheelin 1s 2s ease-in-out forwards; */
}

.tray__swatch {
  transition: 0.1s ease-in;
  height: 50px;
  min-width: 50px;
  flex: 1;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  background-size: cover;
  background-position: center;
}